<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-primary">
          <i class="bi bi-controller me-2"></i>
          Play4Ever
        </h5>
        <p class="mb-0">Desarrollado por Joaquín Carbonaro</p>
        <p class="mb-0">Programación 4 - UTN FRA</p>
      </div>
      <div class="col-md-6 text-md-end mt-3 mt-md-0">
        <p class="mb-1">Play4Ever© {{ currentYear }} </p>
        <p class="mb-0">Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
