<!-- Updated navbar to use ng-bootstrap ngbCollapse directive -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/bienvenida">
            <img src="\logo.png" alt="Play4ever" height="40" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="!isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Replaced Bootstrap collapse with ngbCollapse directive -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bienvenida" routerLinkActive="active">
                        <i class="bi bi-house-door me-1"></i>
                        Bienvenida
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sobre-mi" routerLinkActive="active">
                        <i class="bi bi-person me-1"></i>
                        Quién Soy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        <i class="bi bi-box-arrow-in-right me-1"></i>
                        Ingresar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro" routerLinkActive="active">
                        <i class="bi bi-person-plus me-1"></i>
                        Registrarse
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>